<ion-view view-title="{{companypriceData.name}}" >

	<!-- <ion-nav-bar id="stock-navbar" ng-class="companypriceData.change < 0 ? 'redflag bar-dark' : 'greenFlag bar-dark' " >
    	<ion-nav-back-button></ion-nav-back-button>
  	</ion-nav-bar> -->

	<div class="bar bar-subheader bar-light" id="stock-subheader-bar">
		<div class="buttons" side="left">
			<div class="button button-clear display-flex">
				<h6 id="stock-name">{{companypriceData.symbol}}</h6>

			</div>
		</div>

	<h2 class="title button-left button-right stock-price">{{companypriceData.price | currency}}</h2>

		<!-- <div  ng-click="priceToggel()">
		<h2 ng-if="mycurrency === 'doller'" class="title button-left button-right">{{companypriceData.price | currency}}</h2>
		<h2 ng-if="mycurrency === 'inr'" class="title button-left button-right">{{companypriceData.price | currency :'INR'}}</h2>

		</div> -->

		<div class="buttons" side="right">
			<div class="button button-clear">
				<!-- <h6 ng-class="{{colorFlag}}" id="stock-change">{{companypriceData.chg_percent| number:3}} %</h6> -->
			<h6 id="stock-change" ng-class="companypriceData.change < 0 ? 'redflag' : 'greenFlag' ">{{companypriceData.chg_percent| number:3}}%</br>
			<span ng-if="companypriceData.change < 0">({{companypriceData.change | number:2}})</span>
			<span ng-if="companypriceData.change > 0">(+{{companypriceData.change | number:2}})</span>
			</h6>
			
			</div>
		</div>
	</div>
  <ion-content class="has-subheader">

  <!-- This is also good but 2nd code is best for mobile -->
  <!-- <div ng-init="chartInterval=['1d','1w','1m','1y']"></div>
  	Chart :- <select ng-model="selectedday" ng-options="x for x in chartInterval">{{x}}</select>

  		<img ng-src="http://chart.finance.yahoo.com/z?s={{ticker}}&t={{selectedday}}&q=l&l=on&z=m&a=vm"  style="width:100%;"> -->
<div class="button-ber" id="short-button-bar">
	<a ng-click="displayChart(1)" ng-class="chartView==1 ? 'active' :''" class="button button-calm">1 day</a>
	<a ng-click="displayChart(2)" ng-class="chartView==2 ? 'active' :''" class="button button-calm">7 Days</a>
	<a ng-click="displayChart(3)" ng-class="chartView==3 ? 'active' :''" class="button button-calm">1 Month</a>
	<a ng-click="displayChart(4)" ng-class="chartView==4 ? 'active' :''" class="button button-calm">6 Month</a>
	<a ng-click="displayChart(5)" ng-class="chartView==5 ? 'active' :''" class="button button-calm">1 Year</a>
</div>

	<img ng-if="chartView === 1" ng-src="http://chart.finance.yahoo.com/z?s={{ticker}}&t=1d&q=l&l=on&z=m&a=vm"  style="width:100%;">
	<img ng-if="chartView === 2" ng-src="http://chart.finance.yahoo.com/z?s={{ticker}}&t=1w&q=l&l=on&z=m&a=vm"  style="width:100%;">
	<img ng-if="chartView === 3" ng-src="http://chart.finance.yahoo.com/z?s={{ticker}}&t=1m&q=l&l=on&z=m&a=vm"  style="width:100%;">
	<img ng-if="chartView === 4" ng-src="http://chart.finance.yahoo.com/z?s={{ticker}}&t=6m&q=l&l=on&z=m&a=vm"  style="width:100%;">
	<img ng-if="chartView === 5" ng-src="http://chart.finance.yahoo.com/z?s={{ticker}}&t=1y&q=l&l=on&z=m&a=vm"  style="width:100%;">
  		
  <div class="card">
   		<div class="item item-divider">Market Data<span id="last-trade">Last Trade:- {{marketDetails.LastTradeTime | date:'h:mm:ss a'}}</span></div>
   		<div class="row row-center">
   			<div class="col">Market Capit.:</div>
   			<div class="col">{{marketDetails.MarketCapitalization}}</div>
   			<div class="col">EBITDA:</div>
   			<div class="col">{{marketDetails.EBITDA}}</div>

   		</div>
   		<div class="row row-center">
   			<div class="col">Ask:</div>
   			<div class="col">{{marketDetails.Ask| number:3}}</div>
   			<div class="col">Bid:</div>
   			<div class="col">{{marketDetails.Bid| number:3}}</div>
   		</div>
   		<div class="row row-center">
   			<div class="col">Prev. Close:</div>
   			<div class="col">{{marketDetails.PreviousClose| number:3}}</div>
   			<div class="col">Open:</div>
   			<div class="col">{{marketDetails.Open| number:3}}</div>
   		</div>
   		<div class="row row-center">
   			<div class="col">Day's High:</div>
   			<div class="col">{{companypriceData.day_high| number:3}}</div>
   			<div class="col">Day's Low:</div>
   			<div class="col">{{companypriceData.day_low| number:3}}</div>
   		</div>
   		<div class="row row-center">
   			<div class="col">Volume:</div>
   			<div class="col">{{marketDetails.Volume| number:3}}</div>
   			<div class="col">Average:</div>
   			<div class="col">{{marketDetails.AverageDailyVolume| number:3}}</div>
   		</div>
   		<div class="row row-center">
   			<div class="col">year high:</div>
   			<div class="col">{{marketDetails.YearHigh| number:3}}</div>
   			<div class="col">Year Low:</div>
   			<div class="col">{{marketDetails.YearLow| number:3}}</div>
   		</div>
   		<div class="row row-center">
   			<div class="col">P/E:</div>
   			<div class="col">{{marketDetails.PERatio| number:3}}</div>
   			<div class="col">EPS:</div>
   			<div class="col">{{marketDetails.EarningsShare}}</div>
   		</div>
   	</div>

   	<div class="card">
   		<div class="item item-divider">Notes</div>
   		<a class="item">
   		<h2>Note Title</h2>
   		</a>
   	</div>

   	<div class="card">
   		<div class="item item-divider">Notes</div>
   		<a class="item item-icon-right">
   		<h2>News Story</h2>
   		<i class="icon ion-ios-arrow-right"></i>
   		</a>
   	</div>
  </ion-content>
</ion-view>
