/* Empty. Add your own CSS if you like */

/* Short button bar  */

/*#short-button-bar .button {
  background-color: #fff;
  border: none;
  border-radius: 0;
  font-size: 9pt;
  line-height: normal;
  min-height: 20px;
}

#short-button-bar .button.active {
  font-weight: bold;
}

#short-button-bar {
  border-bottom: 1px solid #eee;
}*/

.redflag{
	color: red;
	font-size: 70%;
}

.greenFlag{
	color: #006400;
	font-size: 70%;
}

#stock-navbar{
	border: none;
}

#stock-navbar .back-text{
	font-size: 11pt;
}

#last-trade{
	float: right;
}